* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  max-width: 1024px;
}
textarea {
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid;
  padding: 10px;
  letter-spacing: 1px;
}
footer {
  text-align: center;
}

#clearbtn {
  margin-top: 10px;
}

.jumbotron {
  background: linear-gradient(to left, rgb(116, 3, 116), rgb(255, 151, 246));
  text-align: center;
  color: black;
  border-radius: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
  font-weight: 600;
}

.time-block {
  text-align: center;
}
.row {
  padding: .5em;
  margin-bottom: .4em;
  border: 1px solid black;
  border-radius: .5em;
}
.hour {
  background-color: #ffeaa7;
  color: rgb(82, 82, 82);
  padding-top: 27px;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 500;
}


.savebtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}

.savebtn i:hover {
  font-size: 30px;
  transition: all .3 ease-in-out;
}

.white-text {
  color: white;
}


.mb-3,
.my-3 {
  margin-bottom: 0rem!important;
  height: 79px;
}