* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
div {
  display: block;
}

footer {
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
.description,
.row{
  white-space: pre-wrap;
}
.textarea {
  background: transparent;
  resize: none;
  border-left: 1px dashed #020000;
  font-size: 20px;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  padding-bottom: 10px;
} 
.input-group-prepend {
  margin-right: -1.5px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #4e4e4e;
  color: white;
}

.present {
  background-color: #8a04b3;
  color: white;
}

.future {
  background-color: #04d2f7;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.mb-3,
.my-3 {
  margin-bottom: 0rem!important;
  height: 79px;
}